<%= turbo_frame_tag "sidebar" do %>
<!-- App Sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarPanel" data-app-target="sidebar">
    <div class="offcanvas-body">
        <!-- profile box -->
        <div class="profileBox">
            <div><img src="/assets/qlarius_logo_squares_white.png" class="logo" style="max-height: 28px;margin-right: 10px;"></div>
            <div class="in">
                    <span class="mefile-mobile" data-app-target="mobileNumber" style="font-weight:700; color:white;">
                        <% if @current_user %>
                            <%= @current_me_file.user.email%>
                        <% end %>
                    </span>
                <div class="text-muted">
                    <ion-icon name="location"><i class="bi bi-geo-alt-fill"></i></ion-icon>
                    <span class="mefile-home-zip" data-app-target="homeZip">
                        <% if @current_me_file %>
                            <%= @current_me_file.home_zip || "NO HOME ZIP" %>
                        <% end %>
                    </span>
                </div>
            </div>
            <%# <a href="#" class="close-sidebar-button" data-bs-dismiss="offcanvas">
                <ion-icon name="close"><i class="bi bi-x"></i></ion-icon>
            </a> %>
            <a class="close-sidebar-button" style="cursor:pointer;" data-action="app#closeSidebar">
                <ion-icon name="close"><i class="bi bi-x"></i></ion-icon>
            </a>
        </div>
        <!-- * profile box -->

        <ul class="listview flush transparent no-line image-listview mt-2">
            <li>
                <%= link_to home_path, class: "item", data: {"turbo-frame": :"app_window", "action":"app#update_mefile_stats app#loadSelectedPage app#closeSidebar"} do %>
                    <div class="icon-box bg-primary">
                        <ion-icon name="home-outline">
                            <i class="bi bi-house-door"></i>
                        </ion-icon>
                    </div>
                    <div class="in">
                        Home
                    </div>
                <% end %>
            </li>
            <li>
                <div class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon>
                            <i class="bi bi-moon"></i>
                        </ion-icon>
                    </div>
                    <div class="in">
                        <div>Dark Mode</div>
                        <div class="form-check form-switch">
                            <input class="form-check-input dark-mode-switch" type="checkbox" id="darkmodesidebar">
                            <label class="form-check-label" for="darkmodesidebar"></label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="listview-title mt-2 mb-1">
            <span>Sponster</span>
        </div>
        <ul class="listview image-listview flush transparent no-line">
            <li>
                <%= link_to ad_viewer_path, class: "item", data: {"turbo-frame": :"app_window", "action":"app#update_mefile_stats app#loadSelectedPage app#closeSidebar"} do %>
                    <div class="icon-box background-sponster" style="padding-top:3px;">
                        <ion-icon>
                            <i class="bi bi-eye"></i>
                        </ion-icon>
                    </div>
                    <div class="in">
                        <div>Ads</div>
                        <span class="badge background-sponster ad-count" data-app-target="offerCount">...</span>
                    </div>
                <% end %>
            </li>
            <li>
                <%= link_to me_file_ledger_path, class: "item", data: {"turbo-frame": :"app_window", "action":"app#update_mefile_stats app#loadSelectedPage app#closeSidebar"} do %>
                    <div class="icon-box background-sponster"  style="padding-top:5px;">
                        <ion-icon>
                            <i class="bi bi-cash-coin"></i>
                        </ion-icon>
                    </div>
                    <div class="in">
                        <div>Wallet</div>
                        <span class="badge background-sponster acct-balance" data-app-target="balance">...</span>
                    </div>
                <% end %>
            </li>
        </ul>

        <div class="listview-title mt-2 mb-1">
            <span>YouData</span>
        </div>
        <ul class="listview flush transparent no-line image-listview">
            <li>
                <%= link_to me_file_tags_path, class: "item", data: {"turbo-frame": :"app_window", "action":"app#update_mefile_stats app#loadSelectedPage app#closeSidebar"} do %>
                    <div class="icon-box background-youdata" style="padding-top:2px;">
                            <ion-icon>
                                <i class="bi bi-person-bounding-box"></i>
                            </ion-icon>
                        </div>
                        <div class="in">
                            <div>Your MeFile</div>
                            <span class="badge background-youdata tag-count" data-app-target="tagCount">...</span>
                        </div>
                <% end %>
            </li>
            
            <li>
                <%= link_to me_file_builder_path, class: "item", data: {"turbo-frame": :"app_window", "action":"app#update_mefile_stats app#loadSelectedPage app#closeSidebar"} do %>
                    <div class="icon-box background-youdata"  style="padding-top:2px;">
                        <ion-icon>
                            <i class="bi bi-hammer"></i>
                        </ion-icon>
                    </div>
                    <div class="in">
                        <div>MeFile Builder</div>
                    </div>
                <% end %>
            </li>
        </ul>


    </div>
    <!-- sidebar buttons -->
    <div class="sidebar-buttons">
        <%= link_to settings_path, class: "item button", data: {"turbo-frame": :"app_window", "action":"app#clearSession app#closeSidebar"} do %>
            <ion-icon>
                <i class="bi bi-gear"></i>
            </ion-icon>
            <div class="button-text">Settings</div>
        <% end %>
        <a class="item button" style="cursor:pointer;" data-app-target="logoutButton" data-action="app#closeSidebar app#openLogoutDialog">
            <ion-icon>
                <i class="bi bi-box-arrow-right"></i>
            </ion-icon>
            <div class="button-text">Log out</div>
        </a>
    </div>
    <!-- * sidebar buttons -->
</div>
<!-- * App Sidebar -->
<% end %>