<div class="section full mt-5 mb-3" data-controller="guide-splide" >
<div class="section-title">Guides</div>
<div class="wide-block pt-5 pb-3">

    <!-- carousel multiple -->
    <div class="splide" data-splide='{"type":"slide", "gap":16, "arrows":false, "padding":24, "pagination":true, "perPage":2}' id="splide01" style="visibility: visible;">
        <div class="splide__track" id="splide01-track" style="overflow-y:hidden;">
            <ul class="splide__list" id="splide01-list">
                <li class="splide__slide splide__slide--clone">
                    <div class="card">
                        <%= image_tag "card_image_placeholder.jpeg", class: "card-img-top" %>
                        <div class="card-body pt-2">
                            <h4 class="mb-0">Change the styles in sass</h4>
                        </div>
                    </div>
                </li>
                <li class="splide__slide splide__slide--clone">
                    <div class="card">
                        <%= image_tag "card_image_placeholder_2.jpeg", class: "card-img-top" %>
                        <div class="card-body pt-2">
                            <h4 class="mb-0">Sketch source file included</h4>
                        </div>
                    </div>
                </li>
                <li class="splide__slide splide__slide--clone">
                    <div class="card">
                        <%= image_tag "card_image_placeholder.jpeg", class: "card-img-top" %>
                        <div class="card-body pt-2">
                            <h4 class="mb-0">RTL (Right to Left) Support</h4>
                        </div>
                    </div>
                </li>    
                <li class="splide__slide is-active is-visible" id="splide01-slide06" style="margin-right: 16px; width: 171px;" aria-hidden="false" tabindex="0">
                    <div class="card">
                        <%= image_tag "card_image_placeholder.jpeg", class: "card-img-top" %>
                        <div class="card-body pt-2">
                            <h4 class="mb-0">RTL (Right to Left) Support</h4>
                        </div>
                    </div>
                </li>
                <li class="splide__slide is-visible" id="splide01-slide07" style="margin-right: 16px; width: 171px;" aria-hidden="false" tabindex="0">
                    <div class="card">
                        <%= image_tag "card_image_placeholder_2.jpeg", class: "card-img-top" %>
                        <div class="card-body pt-2">
                            <h4 class="mb-0">Written with a code structure</h4>
                        </div>
                    </div>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 171px;">
                    <div class="card">
                        <%= image_tag "card_image_placeholder_2.jpeg", class: "card-img-top" %>
                        <div class="card-body pt-2">
                            <h4 class="mb-0">Reusable components</h4>
                        </div>
                    </div>
                </li><li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 171px;">
                    <div class="card">
                        <%= image_tag "card_image_placeholder.jpeg", class: "card-img-top" %>
                        <div class="card-body pt-2">
                            <h4 class="mb-0">Great for phones &amp; tablets</h4>
                        </div>
                    </div>
                </li><li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 171px;">
                    <div class="card">
                        <%= image_tag "card_image_placeholder.jpeg", class: "card-img-top" %>
                        <div class="card-body pt-2">
                            <h4 class="mb-0">Change the styles in sass</h4>
                        </div>
                    </div>
                </li></ul>
        </div>
    </div>
    <!-- * carousel multiple -->

</div>
</div>