<div class="section inset mt-2">
<div class="section-title">Account Summary</div>
  <div class="wide-block pt-2 pb-0">
    <h3>
        Mobile #:
        <small><%= number_to_phone(@current_me_file.user.mobile_number, area_code: true) %></small>
    </h3>
    <h3>
        Home zip:
        <small><%= @current_me_file.home_zip || "NO HOME ZIP" %></small>
    </h3>
    <h3>
        Active since:
        <small><%= @current_user.created_at.in_time_zone("Central Time (US & Canada)").strftime("%Y-%m-%d") %></small>
    </h3>
    <div class="divider mb-2"></div>
      <div class="row">
        <div class="col"> 
          <%= link_to ad_viewer_path, data: {"turbo-frame": :"app_window", "action":"click->app#loadSelectedPage"} do %>
            <div class="card text-white background-sponster mb-2">
              <div class="card-body text-center p-2">
                <h2 class="mb-0" style="line-height:.8"><%= @current_me_file.current_offers.reload.count %> <br/><span style="font-size:75%"><%= "ad".pluralize(@current_me_file.current_offers.reload.count) %></span></h2>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to me_file_ledger_path, data: {"turbo-frame": :"app_window", "action":"click->app#loadSelectedPage"} do %>        
            <div class="card text-white background-sponster mb-2">
              <div class="card-body text-center p-2">
                <h2 class="mb-0" style="line-height:.8"><%= number_to_currency(@current_me_file.ledger_header.balance) %> <br/><span style="font-size:75%">balance</span></h2>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to me_file_tags_path, data: {"turbo-frame": :"app_window", "action":"app#loadSelectedPage"} do %>
            <div class="card text-white background-youdata mb-2">
              <div class="card-body text-center p-2">
                <h2 class="mb-0" style="line-height:.8"><%= @current_me_file.trait_tag_count %> <br/><span style="font-size:75%">traits</span></h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>

</div>