<%= turbo_frame_tag "modal-content-turboframe" do %>

  <%= form_tag action_based_on_question_type_mfd(@trait_to_edit.survey_question.survey_question_type), trait_id: params[:trait_id], class: "modal-form" do |form| %>
    <div class="modal-content">
      <div class="modal-header survey-panel-heading">
        <h5 class="modal-title" id="myModalLabel"><%= @trait_to_edit.trait_name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <div class="survey-question">
          <%= @trait_to_edit.survey_question.text.html_safe %>
        </div>
        <div class="tag-selection">
          <%= hidden_field_tag :id, @trait_to_edit.survey_question.id %>
          <%= hidden_field_tag :survey_question_trait_id, @trait_to_edit.survey_question.trait_id %>
          <%= render partial: 'shared/survey_form_contents', locals: {survey_question: @trait_to_edit.survey_question}  %>
        </div>
      </div>
      <div class="modal-footer pwa-safe-bottom">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-hidden="true">CLOSE</button>
        <%= submit_tag "CREATE/UPDATE TAG", class: "btn btn-primary", "data-action"=>"modal#close" %>
      </div>
    </div>
  <% end %>
    
<% end %>
