<% if !@current_sponster_user %>

    <div id="ydadget_announcer_float_bottom_background_layer">
      <%= image_tag 'sponster_us_quarter.png', class:"spin-bounce-background-item" %>  
    </div>

<% end%>

<div class="sponster-announcer-bottom-float-strip"></div>

    <% if @current_sponster_user %>
    <div class="sponster-announcer-bottom-float-content-container" style="height:50px; padding: 0 10px; display:flex; flex-direction:row; justify-content:space-between; align-items:center; background: #fff;">
      <div class="sponster-announcer-logo-container"></div>
 
      <div style="width: 240px; position:relative;display:flex; flex-direction:row; justify-content:space-between; align-items:center; background: #F0F2F4; border-radius: 8px;">
        <div style="display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; padding: 6px 0;">
          <div id="announcer-wallet-amount" style="color: #292929; font-size: 16px; line-height:16px; font-weight: 600; letter-spacing: 0.40px; word-wrap: break-word"><%= number_to_currency(@current_me_file.ledger_header.balance) %></div>
          <div style="color: #797979; font-size: 8px;  font-weight: 500; letter-spacing: 0.20px; word-wrap: break-word; line-height:10px;">WALLET</div>
        </div>
        <div style="width: 0px; height: 20px; border-left: 1px solid #cbcbcb"></div>
        <div style="display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; padding: 6px 0;">
          <div id="announcer-ad-count" style="color: #252529; font-size: 16px; line-height:16px; font-weight: 600; letter-spacing: 0.40px; word-wrap: break-word"><%= @current_me_file.current_offers.reload.count %></div>
          <div style="color: #6F7479; font-size: 8px; font-weight: 500; letter-spacing: 0.20px; word-wrap: break-word; line-height:10px;">ADS</div>
        </div>
        <div style="width: 0px; height: 20px; border-left: 1px solid #cbcbcb"></div>
        <div style="display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; padding: 6px 0;">
          <div id="announcer-offered-amount" style="color: #252529; font-size: 16px; line-height:16px; font-weight: 600; letter-spacing: 0.40px; word-wrap: break-word"><%= number_to_currency(@current_me_file.current_offers.sum :offer_amt) %></div>
          <div style="color: #6F7479; font-size: 8px; font-weight: 500; letter-spacing: 0.20px; word-wrap: break-word; line-height:10px;">OFFERED</div>
        </div>
      </div>

      <div style="width:88px; position:relative; display:flex; flex-direction:row; justify-content:space-between; align-items:center; border-radius: 9999px; border: 1.50px #252529 solid; padding: 4px 12px; cursor: pointer;" onclick="parent.postMessage('open_widget','*');self.toggleAnnouncerElements();">
        <div id="ydadget_announcer_toggle_button_text" style="text-align: center; margin-right: 10px; color: #252529; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.32px; word-wrap: break-word">SHOW</div>
        <i id="ydadget_announcer_toggle_icon" class="fa fa-angle-double-up all-animate" style="color:#0A8F65;"></i>
      </div>

    </div>

    <% else %>
      <div class="sponster-announcer-bottom-float-content-container">
        <div class="sponster-announcer-slider-container-float-bottom-lg">
            <%= render partial: 'sponster_recruiter_slider_lg' %>
          </div>

          <div class="sponster-announcer-slider-container-float-bottom-sm">
            <%= render partial: 'sponster_recruiter_slider_sm' %>
          </div>

          <div class="sponster-announcer-toggle-button-container">
            <div id="ydadget_announcer_toggle_button" class="btn btn-outline-secondary sponster-announcer-toggle-button all-animate" onclick="parent.postMessage('open_widget','*');self.toggleAnnouncerElements();">
              <i id="ydadget_announcer_toggle_icon" class="fa fa-angle-double-up all-animate" style="color:#0A8F65;"></i>
            </div>
          </div>
      </div> 
    <% end %>

    <script>
      var announcerToggleIcon = document.getElementById("ydadget_announcer_toggle_icon");
      var announcerToggleButtonText = document.getElementById("ydadget_announcer_toggle_button_text");
      var announcerWalletAmount = document.getElementById("announcer-wallet-amount");
      var announcerAdCount = document.getElementById("announcer-ad-count");
      var announcerOfferedAmount = document.getElementById("announcer-offered-amount");
      var currentMode = "open";

      function toggleAnnouncerElements() {
        if (currentMode == "open") {
          if (announcerToggleIcon) { announcerToggleIcon.style.transform = "rotate(180deg)"; }
          if (announcerToggleButtonText) { announcerToggleButtonText.textContent = "HIDE"; }
          if (announcerWalletAmount) { announcerWalletAmount.textContent = "$-.--"; }
          if (announcerAdCount) { announcerAdCount.textContent = "--"; }
          if (announcerOfferedAmount) { announcerOfferedAmount.textContent = "$-.--"; }
          currentMode = "closed";
        } else {
          if (announcerToggleIcon) { announcerToggleIcon.style.transform = "rotate(0deg)"; }
          if (announcerToggleButtonText) { announcerToggleButtonText.textContent = "SHOW"; }
          currentMode = "open";
        }
      }
    </script>


