<%= turbo_frame_tag "modal-content-turboframe" do %>

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel"><%= @survey.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">

        <% @survey.survey_questions.order(:display_order).each do |survey_question| %>
          <div class="card panel">
            <div class="panel-heading survey-panel-heading">
              <div class="panel-title"><%= survey_question.trait.trait_name %></div>
            </div>
            <div class="panel-body">
              <div class="survey-question">
                <%= survey_question.text.html_safe %>
              </div>
              <div class="tag-selection">
                <%= hidden_field_tag :id, survey_question.id %>
                <%= hidden_field_tag :survey_question_trait_id, survey_question.trait_id %>
                <%= render partial: 'shared/survey_form_contents', locals: {survey_question: survey_question}  %>
              </div>
            </div>
          </div>
       <% end %> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-hidden="true">CLOSE</button>
        <%= submit_tag "CREATE/UPDATE TAG", class: "btn btn-primary", "data-action"=>"modal#close" %>
      </div>
    </div>
    
<% end %>