<%= turbo_frame_tag "modal-content-turboframe" do %>
  <div class="modal-content">
    <% completion_array = survey_category_percentage_complete(@survey.survey_category) %>
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel"><%= @survey.name %></h5>
          <div class="ms-1 me-0">
            <%= turbo_frame_tag "survey-comp-label-#{@survey.id}", class: "survey-comp-label-#{@survey.id}" do %>
              <%= render partial: "survey_comp_label", locals: {survey: @survey} %>
            <% end %>
          </div>
          <a href="/me_file_builder/reset_survey_modal" class="close-btn" data-action="app#closeModal">
              <i class="bi bi-x"></i>
          </a>
        </div>
        <div class="modal-body" data-controller="survey-splide" style="padding:34px 0 0 0;">
          <%= turbo_frame_tag "completion_string_frame" do %>
            <%= render partial: "completion_string", locals: {survey_id: @survey.id} %>
          <% end %>
          <section id="survey-splide" class="carousel-single splide h-100 survey_splide" aria-label="survey splide" data-splide='{"gap":16, "arrows":false, "padding":16, "pagination":true}'>

              <div class="splide__track h-100">

                  <ul class="splide__pagination"></ul>
                
                  <ul class="splide__list h-100" style="padding-left:2rem !important">
                    <% @survey.survey_questions.order(:display_order).each.with_index do |survey_question, index| %>
                      <li class="splide__slide">
                        <%= form_tag action_based_on_question_type_mfb(survey_question.survey_question_type), trait_id: survey_question.trait, class: "modal-form" do |form| %>
                          <div class="card h-100">
                            <div class="panel-heading survey-panel-heading">
                              <div class="panel-title"><%= survey_question.trait.trait_name %></div>
                            </div>
                            <div class="panel-body">
                              <div class="survey-question">
                                <%= survey_question.text.html_safe %>
                              </div>
                              <div class="tag-selection">
                                <%= hidden_field_tag :survey_id, @survey.id %>
                                <%= hidden_field_tag :survey_category_id, @survey.survey_category.id %>
                                <%= hidden_field_tag :survey_question_id, survey_question.id %>
                                <%= hidden_field_tag :survey_question_trait_id, survey_question.trait_id %>
                                <%= render partial: 'shared/survey_form_contents', locals: {survey_question: survey_question}  %>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <% if index != 0 %>
                                <button type="button" class="btn btn-outline-secondary" data-action="modal#prev_splide"><i class="bi bi-chevron-left" style="margin:0 8px 0 -8px"></i>Prev</button>
                              <% end %>
                              <button type="submit" class="btn btn-primary" data-action="modal#next_splide" >Save<%if @survey.survey_questions.count-1 != index%> & Next<i class="bi bi-chevron-right" style="margin:0 -8px 0 8px"></i><%end%></button>
                            </div>
                          </div>
                        <% end %> 
                      </li>
                    <% end %> 
                  </ul>

              </div>
            </section>

        </div>
        <div class="modal-footer pwa-safe-bottom">
          <button id="survey-done-button" type="button" class="btn btn-secondary btn-block"  data-action="modal#closeModal">Done</button>
        </div>
  </div>
<% end %>