<%= turbo_frame_tag "sponster_adget" do %>
  <div class='ydadget-inner-frame'>
    <div class='row g-0 justify-content-start'>
      <% if @current_sponster_user %>
        <% if @this_recipient %>
        <div class="col d-none d-md-block">
          <%= render "split_info" %>
        </div>
        <% end %>

        <div class="col">

          <div class="ydadget-ad-type-button-group">

            <div class="btn-group mt-2 mb-1" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-secondary active" style="font-size:14px">
                <span id="bt-ad-count-badge" class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger shadow-sm">
                  <%= @current_sponster_user.me_file.current_offers.reload.count %>
                </span>
                3-Tap
              </button>
              <button type="button" class="btn btn-outline-secondary" style="font-size:14px">Video</button>
            </div>

            <%= link_to refresh_offers_sponster_adget_frames_path, tabindex: 4, remote: true do %>
              <i class="bi bi-arrow-clockwise ydadget-ad-refresh-button" style="margin-top:4px;font-weight:900;font-size:1.5rem;color:#999;"></i>
            <% end %>
          </div>

          <div id="ydadget-sponster-ad-container">
          

            <%= render partial: 'banner_text_adget' %>
          </div>
        </div>


        <script type="text/javascript">
          var offerArray = [];
          $(document).ready(function () {
            pollOffers();
            sendOfferCountMessageToParent(<%= @current_sponster_user.me_file.current_offers.count %>)
          })
          function pollOffers() {
            offerArray.forEach(function (offer_id) {
              $.post("<%= close_offer_sponster_adget_frames_path %>?offer_id=" + offer_id);
            });
            setTimeout(pollOffers, 3000);
          }
          function addToOfferArray(offer_id) {
            offerArray.push(offer_id);
          }
          function removeFromOfferArray(offer_id) {
            offerArray.splice($.inArray(offer_id, offerArray), 1);
          }
          function sendOfferCountMessageToParent(offerCount) {
            parent.postMessage('update_offer_count', '*');
          }
          function sendLinkToParent(url) {
            parent.postMessage(url, '*');
          }
        </script>
      <% elsif @this_recipient %>
        <%= render "tip_jar_info_recruiter" %>
      <% elsif params[:split_code] == 'sponster_show_me' %>
        <div style="text-align:center">
          <p style="font-size:1.2rem">This device/browser is not currently enabled for Sponster. That's easy to fix!</p>
          <p><%= image_tag "https://s3.amazonaws.com/youdata_badge_images/180x215/flip_the_switch_sponster.png", style: "width: 180px; height: 215px;" %></p>
          <p><%= link_to 'Enable now', sponster_settings_path, id: "sponster_enable_button", class: "btn btn-lg btn-success", target: "_blank" %></p> 
          <p style="font-size:1.2rem">(Then come back and refresh.)</p>   
        </div>
      <% else %>
        <p>No recipient, no sponster token.</p>
      <% end %>
    </div>
  </div>
<% end %>