<%= turbo_frame_tag "app_window" do %>
  <div data-controller="app-page" data-app-target="appPage">

    <% if @phone_status[:status] == "success" && @phone_status[:message]["type"] == "mobile" %>

      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag("youdata_logo_for_light",  width: '82', style: 'padding:10px;margin-top:0px;margin-bottom:10px;') %>
      </div>

        <div class="header-large-title">
            <h4>Start your MeFile™ with these basic "tags".</h4>
        </div>

    <div class="p-2">

          <div class="mb-3">
            <div class="row">
              <div class="col-12">
                <span style="font-size:1.25rem;"><strong><%= number_to_phone(@number_to_check, area_code: true) %> </strong></span>
                <% if @current_me_file.user.is_active_proxy_user? %>
                  - new proxy as <%= number_to_phone(@current_me_file.user.mobile_number, area_code: true) %>
                <% end%>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span class="badge badge-success fw-bold">
                  <i class="bi bi-check-lg me-1"></i>
                  Verified <%= @phone_status[:message]["type"] %> device with <%= @phone_status[:message]["name"] %>
                </span>
              </div>
            </div>
          </div>
    <div data-controller="sign-up" data-action="gender-check:checkForm->sign-up#checkFormValidity dob:checkForm->sign-up#checkFormValidity zip-check:checkForm->sign-up#checkFormValidity">
    <%= form_with url: save_basics_to_me_file_path do |form| %>
          <div class="mb-3" data-controller="gender-check">
            <div class="row">
              <div class="col-12">
                <label class="form-label" for="city5">Sex (Biological Gender)*</label>
                <div class="form-group boxed pt-0">
                    <div class="input-wrapper">
                        <select class="form-control form-select" id="sex" name="sex" data-gender-check-target="input" data-sign-up-target="s" data-action="gender-check#indicateSelection sign-up#checkFormValidity">
                          <option value="0">Select one</option>
                          <option value="2">female</option>
                          <option value="3">male</option>
                        </select>
                        <span class="badge badge-success fw-bold" style="display:none" data-gender-check-target="output">
                          <i class="bi bi-check-lg"></i>
                        </span>
                        <div class="input-info">Please select according to your DNA. You may provide identity nuances later.</div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3"  data-controller="dob">
            <div class="row">
              <div class="col-12 col-sm-8 col-md-6">
                
                  <div class="row">
                    <label class="form-label" htmlFor="birthdate">
                      Birthdate*
                    </label>

                    <div class="col-4">
                      <div class="form-group boxed p-0">
                        <div class="input-wrapper">
                          <input type="text" class="form-control" id="yyyy" name="yyyy" placeholder="####" maxlength="4" data-sign-up-target="y" data-dob-target="year" data-action="keyup->dob#updateAge sign-up#checkFormValidity">
                          <div class="ms-1">yyyy</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group boxed p-0">
                        <div class="input-wrapper">
                          <input type="text" class="form-control" id="mm" name="mm" placeholder="##" maxlength="2" data-sign-up-target="m" data-dob-target="month" data-action="keyup->dob#updateAge sign-up#checkFormValidity">
                          <div class="ms-1">mm</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group boxed p-0">
                        <div class="input-wrapper">
                          <input type="text" class="form-control" id="dd" name="dd" placeholder="##" maxlength="2" data-sign-up-target="d" data-dob-target="day" data-action="keyup->dob#updateAge sign-up#checkFormValidity">
                          <div class="ms-1">dd</div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <span data-dob-target="output" class="badge badge-success fw-bold"></span>
                      </div>
                    </div>
                  
                </div>

              </div>
            </div>
          </div>

          <div class="mb-3" data-controller="zip-check">
            <div class="row">
              <div class="col-12">
                <label class="form-label" for="city5">Home Zip Code</label>
                <div class="form-group boxed pt-0">
                    <div class="input-wrapper">
                        <input type="text" class="form-control" id="zip" name="zip" placeholder="#####" maxlength="5" data-sign-up-target="z" data-zip-check-target="zipInput" data-action="keyup->zip-check#keyup sign-up#checkFormValidity" >
                    <div class="input-info">5-digit mailing zip code (optional, but <strong>highly</strong>
                  recommended)</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <span data-zip-check-target="zipOutput" data-sign-up-target="zConfirm" class="badge badge-success fw-bold"></span>
                <span data-zip-check-target="errorOutput" class="badge badge-danger fw-bold"></span>
              </div>
            </div>
          </div>


          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary btn-lg" disabled  data-sign-up-target="submitButton">
              Next <i class="far fa-arrow-alt-circle-right"></i>
            </button>
          </div>
        </div>

        <% end %>
        </div>

      </div>

    <% elsif @phone_status[:status] == "success" && @phone_status[:message]["type"] != "mobile" %>

    <div class="d-flex align-items-center justify-content-center">
      <%= image_tag("youdata_logo_sad",  width: '82', style: 'padding:10px;margin-top:-50px;margin-bottom:10px;') %>
    </div>

    <div class="header-large-title">
      <h1 class="title">Sorry!</h1>
      <h4>Qlarius accounts are currently only available for US-based mobile devices.</h4>
    </div>

    <div class="p-2">
      <div class="mb-3">
        <div class="row">
          <div class="col-12">
            <strong><%= number_to_phone(@number_to_check, area_code: true) %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="badge badge-danger fw-bold">
              Invalid <%= @phone_status[:message]["type"] %> device with <%= @phone_status[:message]["name"] %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <% else %>

    <div class="d-flex align-items-center justify-content-center">
      <%= image_tag("youdata_logo_sad",  width: '82', style: 'padding:10px;margin-top:-50px;margin-bottom:10px;') %>
    </div>

    <div class="header-large-title">
        <h1 class="title">Sorry!</h1>
        <h4>Qlarius accounts are currently only available for US-based mobile devices.</h4>
    </div>

    <div class="p-2">
      <div class="mb-3">
        <div class="row">
          <div class="col-12">
            <strong><%= number_to_phone(@number_to_check, area_code: true) %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="badge badge-danger fw-bold">
              <%= @phone_status[:message] %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <% end %>   

  </div>
<% end %>



