<div class="three-tap-banner-text-ad-unit" data-controller="three-tap-unit" data-three-tap-unit-offer-value="<%= offer.id %>">

  <div class="three-tap-complete-container d-flex align-items-center justify-content-center flex-column">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M20 6L9 17L4 12" stroke="#48AD75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <div class="three-tap-paid-info-amounts">
      <strong>ATTENTION PAID™</strong>
    </div>
    <div class="three-tap-paid-info-amounts">
      <span>Collected: </span>
      <strong data-three-tap-unit-target="collected">- - -</strong>
    </div>
    <% if @this_recipient.present? %>
      <div class="three-tap-paid-info-amounts">
        <span>Given: </span>
        <strong data-three-tap-unit-target="given">- - -</strong>
      </div>
    <% end %>
  </div>
  <div id="three-tap-state-strip" data-three-tap-unit-target="stateStrip">
    <div id="three-tap-banner-state-check">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M20 6L9 17L4 12" stroke="#48AD75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div id="three-tap-banner-state" data-three-tap-unit-target="bannerPrompt">
      <%= click_or_tap_string %> FOR &nbsp;<strong><%= number_to_currency(offer.phase_1_offer_amt) %></strong>
    </div>
    <div id="three-tap-text-state" data-three-tap-unit-target="textPrompt">
      <%= click_or_tap_string %>/JUMP FOR &nbsp;<strong><%= number_to_currency(offer.phase_2_offer_amt) %></strong>
    </div>
  </div>
  <div data-three-tap-unit-target="jump" class="three-tap-text-phase three-tap-nonactive">
    <div class="three-tap-text-ad-container">
      <% if offer.media_piece %>
        <p class="three-tap-ad-title"><strong><%= offer.media_piece.title %></strong></p>
        <p class="three-tap-ad-copy"><%= offer.media_piece.body_copy %></p>
        <p class="three-tap-ad-display-url"><%= offer.media_piece.display_url %></p>
      <% end %>
    </div>
  </div>
  <div data-three-tap-unit-target="banner" class="three-tap-banner-phase">
    <%= image_tag(url_for(offer.media_piece.banner), class: "banner") if offer.media_piece&.banner&.attached? %>
  </div>

  <div data-three-tap-unit-target="cover" class="three-tap-cover-container">
    <div class="three-tap-chevron-container">
      <svg width="30" height="25" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="chevrons-up 2">
          <path d="M13 14.1666L18 9.99992L13 5.83325" stroke="#48AD75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6 14.1666L11 9.99992L6 5.83325" stroke="#48AD75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
      </svg>
    </div>
    <div class="three-tap-category-text"><%= offer.media_piece.try(:ad_category).try(:ad_category_name) %></div>
    <div class="three-tap-amount-text"><%= number_to_currency(offer.offer_amt) %></div>
    <div class="three-tap-map-icon">
      <% if offer.is_geo? %>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 10.8333C11.3807 10.8333 12.5 9.71405 12.5 8.33333C12.5 6.95262 11.3807 5.83333 10 5.83333C8.61929 5.83333 7.5 6.95262 7.5 8.33333C7.5 9.71405 8.61929 10.8333 10 10.8333Z" stroke="#4AA8EC" stroke-width="1.5"/>
          <path d="M15.8333 8.33333C15.8333 14.1667 10 17.5 10 17.5C10 17.5 4.16667 14.1667 4.16667 8.33333C4.16667 5.11167 6.77833 2.5 10 2.5C13.2217 2.5 15.8333 5.11167 15.8333 8.33333Z" stroke="#4AA8EC" stroke-width="1.5"/>
        </svg>
      <% end %>
    </div>
  </div>
  
  <div id="three-tap-clicktap-areas" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    <div class="three-tap-clicktap-area" data-three-tap-unit-target="jumpArea"  data-action="click->three-tap-unit#jump"></div>
    <div class="three-tap-clicktap-area" data-three-tap-unit-target="bannerArea"  data-action="click->three-tap-unit#banner"></div>
    <div class="three-tap-clicktap-area" data-three-tap-unit-target="revealArea"  data-action="click->three-tap-unit#reveal"></div>
  </div>
</div>