<div class="ydadget-banner-text-ad-unit" data-controller="three-tap-unit" data-three-tap-unit-offer-value="<%= offer.id %>">
  <div data-three-tap-unit-target="icons" class="ydadget-ad-type-icons d-flex justify-content-start">
    <% if offer.is_payable %>
      <div class="sponster-payable-label">$</div>
    <% end %>
    <% if offer.is_geo? %>
      <div class="sponster-map-pin"></div>
    <% end %>
    <div id="ydadget-instruction-text-<%= offer.id %>" class="ydadget-instruction-text">&nbsp;</div>
  </div>
  <div data-three-tap-unit-target="well" class="ydadget-banner-text-bottom-well"></div>
  <div class="ydadget-complete-container d-flex align-items-center justify-content-center">
    <i-qlarius class="icon-sponster-logo me-1" style="font-size:3rem;"></i-qlarius>
    <div id="ydadget-paid-info-amounts-<%= offer.id %>" class="ydadget-paid-info-amounts">
      <strong class="tight-spacing">Attention Paid™</strong><br/>
      <strong class="tight-spacing">Collected: </strong>
      <span data-three-tap-unit-target="collected">- - -</span><br/>
      <% if @this_recipient.present? %>
        <strong class="tight-spacing">Given: </strong>
        <span data-three-tap-unit-target="given">- - -</span>
      <% end %>
    </div>
  </div>
  <div data-three-tap-unit-target="jump" class="ydadget-text-phase ydadget-nonactive">
    <div class="ydadget-text-ad-container">
      <% if offer.media_piece %>
        <p class="ydadget-ad-title"><strong><%= offer.media_piece.title %></strong></p>
        <p class="ydadget-ad-copy"><%= offer.media_piece.body_copy %></p>
        <p class="ydadget-ad-display-url"><%= offer.media_piece.display_url %></p>
      <% end %>
    </div>
    <div id="ydadget-amount-tab-phase-2-<%= offer.id %>" class="ydadget-amount-tab ydadget-amount-tab-phase-2">
      <div id="ydadget-amount-text-phase-<%= offer.id %>">
        <span id="ydadget-offer-amount-<%= offer.id %>" class="ydadget-offer-amount">
          <%= number_to_currency(offer.phase_2_offer_amt) %>
        </span>
      </div>
    </div>
  </div>
  <div data-three-tap-unit-target="banner" class="ydadget-banner-phase">
    <%= image_tag(url_for(offer.media_piece.banner), class: "banner") if offer.media_piece&.banner&.attached? %>
    <div class="ydadget-amount-tab ydadget-amount-tab-phase-1">
      <div id="ydadget-instruction-banner-phase-<%= offer.id %>">
        <span class="ydadget-offer-amount"><%= number_to_currency(offer.phase_1_offer_amt) %></span>
      </div>
    </div>
  </div>
  <div data-three-tap-unit-target="cover" class="ydadget-category-announce d-flex flex-column align-items-center justify-content-center">
    <p class="ydadget-category"><%= offer.media_piece.try(:ad_category).try(:ad_category_name) %></p>
    <p class="ydadget-big-amount"><%= number_to_currency(offer.offer_amt) %></p>
    <i class="bi bi-chevron-right sponster-reveal-chevron"></i>
  </div>
  <div id="ydadget-clicktap-areas">
    <div class="ydadget-clicktap-area" data-three-tap-unit-target="jumpArea"  data-action="click->three-tap-unit#jump"></div>
    <div class="ydadget-clicktap-area" data-three-tap-unit-target="bannerArea"  data-action="click->three-tap-unit#banner"></div>
    <div class="ydadget-clicktap-area" data-three-tap-unit-target="revealArea"  data-action="click->three-tap-unit#reveal"></div>
  </div>
</div>