<%= turbo_frame_tag "modal-content-turboframe" do %>
  <%= form_tag delete_tags_me_file_tags_path, class: "modal-form" do |form| %>
    <%= hidden_field_tag :trait_id, params[:trait_id] %>
    <%= hidden_field_tag :trait_category_id, Trait.find(params[:trait_id]).trait_category.id %>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Confirm deletion</h5>
        <a href="/me_file_builder/reset_survey_modal" class="close-btn" data-action="app#closeModal">
            <i class="bi bi-x"></i>
        </a>
      </div>
      <div class="modal-body">
        <div class="survey-question">
          Delete tag?
        </div>
        <div class="tag-row">
        <%= render partial: 'shared/trait_with_current_tags', object: @current_me_file.trait_with_tags(params[:trait_id].to_i) %>
        </div>
      </div>
      <div class="modal-footer pwa-safe-bottom">
        <a type="button" href="/me_file_builder/reset_survey_modal" class="btn btn-outline-secondary" data-action="modal#closeModal">Close</a>
        <button type="submit" class="btn btn-danger" data-controller="tag" data-action="tag#flash_red modal#closeModal" data-tag-traitid-value=<%= params[:trait_id].to_i %> >Delete</button>
      </div>
    </div>
   <% end %> 
<% end %>
