<%= turbo_frame_tag "modal-content-turboframe" do %>

  <%= form_tag action_based_on_question_type_mfd(@trait_to_edit.survey_question.survey_question_type), trait_id: params[:trait_id], class: "modal-form" do |form| %>
    <div class="modal-content">
      <div class="modal-header survey-panel-heading">
        <h5 class="modal-title" id="myModalLabel"><%= @trait_to_edit.trait_name %></h5>
        <a href="/me_file_builder/reset_survey_modal" class="close-btn" data-action="app#closeModal">
            <i class="bi bi-x"></i>
        </a>
      </div>
      <div class="modal-body">
        <div class="survey-question">
          <%= @trait_to_edit.survey_question.text.html_safe %>
        </div>
        <div class="tag-selection">
          <%= hidden_field_tag :id, @trait_to_edit.survey_question.id %>
          <%= hidden_field_tag :survey_question_trait_id, @trait_to_edit.survey_question.trait_id %>
          <%= render partial: 'shared/survey_form_contents', locals: {survey_question: @trait_to_edit.survey_question}  %>
        </div>
      </div>
      <div class="modal-footer pwa-safe-bottom">
        <a type="button" href="/me_file_builder/reset_survey_modal" class="btn btn-outline-secondary" data-action="modal#closeModal">Close</a>
        <button type="submit" class="btn btn-primary" data-controller="tag" data-action="modal#closeModal tag#flash_green" data-tag-traitid-value=<%= params[:trait_id].to_i %>>Save Tag</button>
      </div>
    </div>
  <% end %>
    
<% end %>
