<turbo-stream action="update" target="tag-name-trait-id-<%=params[:survey_question_trait_id]%>">
  <template>
    <%= @current_me_file.trait_with_tags(params[:survey_question_trait_id].to_i)[:trait_name]%>
    <%# render partial: "trait_with_tags_static", formats: [:html], locals: {trait_with_tags_static: @current_user.me_file.trait_with_tags(params[:survey_question_trait_id].to_i), flash_green: 1} %>
  </template>
</turbo-stream>

<turbo-stream action="update" target="tag-list-trait-id-<%=params[:survey_question_trait_id]%>">
  <template>
    <% @current_me_file.trait_with_tags(params[:survey_question_trait_id].to_i)[:tag_values].each do |t|%>
      <li><%= t[:tag_value] %></li>
    <% end %>
  </template>
</turbo-stream>

<turbo-stream action="update" targets=".trait-count">
  <template>
    <%= @current_me_file.trait_tag_count %>  
  </template>
</turbo-stream>

<turbo-stream action="update" targets=".tag-count">
  <template>
    <%= @current_me_file.tag_count %>  
  </template>
</turbo-stream>