
  <div class="header-large-title d-flex flex-column align-items-center justify-contents-center mt-3">      
    <div 
      data-controller="link-jump"
      data-link-jump-jump-url-value="<%= @offer.media_piece.jump_url unless @offer.nil? %>"
      data-link-jump-offer-id-value="<%= @offer.id unless @offer.nil? %>"
      data-link-jump-split-code-value="<%= cookies[:split_code] %>"
      data-link-jump-remote-ip-value="<%= request.remote_ip %>"
      data-link-jump-original-url-value="<%= params[:original_url] %>"
      class="text-center mt-3">
      <p class="h3 text-center mb-2">Leaving the no-tracking safety of Qlarius.</p>
      <%= image_tag("qlarius_logo_squares.png", size:"100x71") %>
      <p class="mt-2">Be careful out there.</p>
    </div>
  </div>

  