<%= turbo_frame_tag "tip_settings" do %>
<div class="tip-drawer" data-controller="tip-drawer" data-tip-drawer-target="drawer">

  <div class="tip-drawer-tab" data-action="click->tip-drawer#toggleDrawer">
    <%= turbo_frame_tag "autosplit_settings_tab_amount" do %>
    <%= render partial: "ad_viewer_ext/autosplit_settings_tab_amount" %>
    <% end %>
  </div>
  <div class="tip-drawer-content-container">
    <div class="tip-drawer-content-header">
      <div class="tip-drawer-content-header-title">
        <div class="tip-drawer-header-text">Tip to support what you love</div>
        <div class="tip-drawer-close-button" data-action="click->tip-drawer#toggleDrawer">
          <%= image_tag "chevrons-up 2.svg", class: "tip-drawer-close-icon" %>
        </div>
      </div>
    </div>
    <div class="tip-drawer-content-body-container" style="width: 100%; overflow-y: auto; padding: 30px;">
      <div style="margin-bottom: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; border-bottom: 1px solid #c7c7c7;">
        <h1 style="color: #252529; font-size: 22px; font-weight: 700; margin: -10px 0 20px 0;"><%= @this_recipient.name %></h1>
      </div>
      <div class="tip-drawer-content-body" style="width: 100%; display: flex; gap: 0; align-items: start; max-height: calc(100vh - 200px); overflow-y: auto;">
        <div style="width: 100%; display: flex; flex-wrap: wrap; gap: 20px; align-items: start; container-type: inline-size;">
          <style>
            .divider-section {
              position: relative;
            }
            .divider-section::after {
              content: '';
              position: absolute;
              background: #c7c7c7;
              right: 0;
              top: 0;
              bottom: 0;
              width: 1px;
            }
            @container (max-width: 680px) {
              .divider-section::after {
                width: 100%;
                height: 1px;
                right: 0;
                bottom: -10px;
                top: auto;
              }
            }
          </style>
          <div class="divider-section" style="flex: 1; min-width: 300px; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-right: 20px;">
            <div style="width: 250px; height: 250px; box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15); background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
              <%= image_tag "tammys_tasty_tips_thank_you.png", style: "max-width: 100%; max-height: 100%; object-fit: contain;" %>
            </div>
            <div style="margin: 10px 0; width: 250px; text-align: center; line-height: 1rem;">
              <%= @this_recipient.message %>
            </div>
          </div>
          <div style="flex: 1; min-width: 300px;">
            <div>
              <h2 class="tip-drawer-content-heading">AutoSplit</h2>
              <p class="tip-drawer-content-description">Set a percentage to automatically share your ad proceeds while on this site.</p>
              <%= turbo_frame_tag "autosplit_settings" do %>
              <%= render partial: "ad_viewer_ext/autosplit_settings" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<% end %>