<% case survey_question.survey_question_type when "SingleSelect" %>
<div class="input-list multi-select-answer-box">
  <% survey_question.survey_answers.order(:display_order).each do |a| %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="trait_ids[]" id="trait_id_<%=a.trait_id%>" value=<%= a.trait_id %> <%= @current_me_file.me_file_tags.map(&:trait_id).include?(a.trait_id) ? 'checked' : ''  %>>
      <label class="form-check-label" for="trait_id_<%=a.trait_id%>">
        <%= a.text %>
      </label>
    </div>
  <% end %>
</div>

<% when "MultiSelect" %>
<div class="input-list multi-select-answer-box">
  <% survey_question.survey_answers.order(:display_order).each do |a| %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="trait_ids[]" id="trait_id_<%=a.trait_id%>" value=<%= a.trait_id %> <%= @current_me_file.me_file_tags.map(&:trait_id).include?(a.trait_id) ? 'checked' : ''  %>  >
      <label class="form-check-label form-check-label-multi" for="trait_id_<%=a.trait_id%>">
        <%= a.text %>
      </label>
    </div>
  <% end %>
</div>

<% when "single_select_zip" %>
<%= render partial: "me_file_builder/zip_entry" %>

<% when "MultiSelectList" %>
<%= select_tag("trait_ids[]", options_from_collection_for_select(survey_question.survey_answers.order(:display_order), :trait_id, :text), size: 15) %>


<% when "FreeText" %>
<%= text_field_tag 'tag_value_to_add' %>

<% when "single_select_from_text" %>
<%= text_field_tag 'tag_value_to_add' %>

<% else %>
  <p><%= survey_question.survey_question_type %></p>
<% end %>




