<% if trait_with_current_tags.empty? %>
  <p>No tags</p>
<% else %>
  <div class="tag-box <%= "ghost" if trait_with_current_tags[:tag_values].empty? %>">
    <div class="trait-name <%= "ghost" if trait_with_current_tags[:tag_values].empty? %>">
      <%= trait_with_current_tags[:trait_name] %>
    </div>
    <div class="tag-value <%= "ghost" if trait_with_current_tags[:tag_values].empty? %>">
      <% if trait_with_current_tags[:tag_values].empty? %>
        <span class="no-tags-text">No tags</span>
      <% else %>
        <ul>
          <% trait_with_current_tags[:tag_values].each do |t_value| %>
            <li><%= t_value[:tag_value] %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>